/* SignUp.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.signup-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 20px);
}

.password-container {
    position: relative;
}

.toggle-password-button {
    position: absolute;
    top: 30%;
    right:60px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    width: 0;
}
.toggle-password-button:hover{
    background-color:transparent;
}
.signup-button {
    width: calc(100% - 10px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #6c0fc4;
}

.signup-error {
    margin-top: 15px;
    color: red;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
